.signup {
    background-color: white;
    padding: 40px 0 30px 0;
    height: 100%;
    min-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.signup__form {
    background-color: initial;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup__form > * {
    margin-bottom: 10px;
}

.signup__form h2 {
    margin: 0 0 30px 0;
}

.signup__form:last-child {
    margin-bottom: 0;
}

.signup__close {
    position: absolute;
    margin: 0;
    top: 15px;
    right: 15px;
}

.signup__close i {
    cursor: pointer;
    margin: 0;
    padding: 4px 6px;
    background: linear-gradient(#fcdd7f, #f2c94c);
    border-radius: 50%;
    border: 3px solid #2a2924;
    color: #2a2924;
    font-size: 18px;
}

.signup__row {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #2a2924;
    height: 38px;
    border-radius: 20px;
    overflow: hidden;
}

.signup__row i {
    width: 40px;
}

.signup__input {
    border: none;
    padding: 0 10px 0 0;
    background-color: initial;
    width: 100%;
}

.signup__input:focus {
    outline: none;
}

.signup__button {
    cursor: pointer;
    background: linear-gradient(#fcdd7f, #f2c94c);
    color: #2a2924;
    padding: 0 10px;
    height: 38px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 13px;
}

.signup__button:focus {
    outline: none;
}

.signup__button:hover {
    background: linear-gradient(#fcdd7f, #eec340);
}

.signup__error {
    margin-top: 0;
    font-size: 15px;
    color: red;
}