.header__container {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    margin: 0;
    padding: 0 25px;
    background-color: #f2c94c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 100%;
}

.header__form {
    margin-right: 10px;
    flex-grow: 1;
    display: flex;
    max-width: 600px;
    height: 44px;
    border-radius: 20px;
    border: 2px solid #2a2924;
    overflow: hidden;
}

.header__form__input {
    padding: 0 15px;
    border: none;
    width: 100%;
    overflow: hidden;
}

.header__form__input:focus {
    outline: none;
}

.header__form__button {
    background-color: initial;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 0 15px 0 13px;
    top: 0;
    right: 0;
    overflow: hidden;
}

.header__form__button:focus {
    outline: none;
}

.header__form__button:hover {
    background-color: #f1f1f1;
}

.header__form__button i {
    font-size: 20px;
    color: #c39509;
}

.header__logo {
    width: 210px;
    margin-right: 25px;
}

.header__logo img {
    width: 140px;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding-left: 10px;
    width: 345px;
}

.header__links > * {
    width: 110px;
}

.header__links i {
    font-size: 40px;
    color: #2a2924;
}

.header__links__text {
    margin: 8px 0 0 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.header__login, .header__signin, .header__logout, .header__mypage {
    cursor: pointer;
}

.header__mypage {
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #333;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    z-index: 3;
    animation: scaling 0.3s ease-in 1;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.modal:focus {
    outline: none;
}

.overlay {
    background: rgba(242, 201, 76, 0.9);
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2;
    animation: sliding 0.2s 1;
}

.menu-button {
    display: none;
}

@keyframes sliding {
    from { opacity: 0; }
    to { opacity: 1 }
}

@keyframes scaling {
    from { top: -100% }
    to { top: 50% }
}

@media only screen and (max-width: 950px) {
    .header__logo {
        min-width: 170px;
        max-width: 170px;
    }

    .header__logo img {
        width: 130px;
    }
}

@media only screen and (max-width: 750px) {
    .header__container {
        min-height: 210px;
        max-height: 210px;
        align-items: flex-start;
        padding: 0;
    }

    .header__content {
        flex-direction: column;
        justify-content: space-evenly;
        height: 210px;
    }

    .header__logo {
        margin: 15px 0;
    }

    .header__logo img {
        width: 110px;
    }
    
    .header__form {
        margin: 0;
        width: 90%;
        height: 40px;
    }

    .header__links {
        margin: 15px 0 0 0;
        width: 100%;
        justify-content: space-between;
        height: 50px;
        background-color: #2a2924;
        padding: 0 30px;
        top: 0;
    }

    .header__links > * {
        margin: 0;
        padding: 0;
    }

    .header__links i {
        color: #f2c94c;
        font-size: 30px;
    }

    .header__links__text {
        display: none;
    }

    .menu-button {
        display: inline;
        cursor: pointer;
    }

    .menu-button i {
        color: #f2c94c;
        font-size: 30px;
    }
}